display {
    width: 100px;
    padding: .5rem;
    font-size: 1.2rem;
    color: aliceblue;
    border: 1px solid black;
    text-align: center;
    background-color: rgba(red, green, blue, alpha);
}